@import "compass/css3";

body{
    font-family:Lora;
    background-image:linear-gradient(rgba(47,23,15,.65),
    rgba(47,23,15,.65)),url(../img/Domtoren.jpg);
}

.form-box {
    width: 50%;
    margin: auto;
    padding-top:20px;
}

.form-box h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 191, 255);
}

.form-box h1 span {
    font-weight: lighter;
}
